<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.jh.s1.bankbook.BankBookDAO">
	<!-- list 조회하는건 select 태그 사용 -->
	
	<update id="update" parameterType="BankBookDTO">
		UPDATE BANKBOOK SET bookName= #{bookName}, 
		bookContents = #{bookContents}, bookRate=#{bookRate}, bookSale=#{bookSale}
		WHERE bookNumber=#{bookNumber}
	</update>
	
	<select id="total" resultType="Long" parameterType="Pager">
		select count(booknumber) from bankbook
		where
			booknumber > 0 
			and  
				<choose>
					<when test="kind=='col1'">
						bookname
					</when>
					<otherwise>
						bookcontents
					</otherwise>
				</choose>
			like '%' || #{search} || '%' 
	</select>
	
	<select id="list" parameterType="Pager" resultType="BankBookDTO">
		<!-- select로 나온 결과물 하나하나를 DTO에 담아야 하잖아? 그러니까 resultType에 bankbookdto에 담으라고 
			알려주자 -->
		<!-- 이 안에 쿼리 태그를 입력하자 -->
		select * from 
			(select rownum R, B.* from 
				(select * from bankbook where 
					booknumber > 0 
					and  
					
					<choose>
						<when test="kind=='col1'">
							bookname
						</when>
						<otherwise>
							bookcontents
						</otherwise>
					</choose>
					like '%' || #{search} || '%' 
					order by booknumber desc) B )
					where R between #{startRow} and #{lastRow}
	</select>

	<insert id="add" parameterType="BankBookDTO">
		INSERT INTO bankbook (booknumber,
		bookname, bookcontents, bookrate,
		booksale)
		values(Bankbook_seq.nextval, #{bookName}, #{bookContents},
		#{bookRate}, #{bookSale})
	</insert>

	<select id="detail" parameterType="BankBookDTO"
		resultType="BankBookDTO">
		select * from bankbook where booknumber = #{bookNumber}
	</select>

	<delete id="delete" parameterType="BankBookDTO">
		DELETE BANKBOOK WHERE
		BOOKNUMBER = #{bookNumber}
	</delete>


</mapper>