<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.jh.s1.notice.NoticeDAO">
	<update id="update" parameterType="NoticeDTO">
		update notice set title=#{title}, contents=#{contents}
		where num=#{num}
	</update>

	<select id="total" resultType="Long" parameterType="Pager">
		select count(num) from notice
		where 
			NUM > 0 
			and  
			
			<choose>
				<when test="kind=='col1'">
					title
				</when>
				<otherwise>
					contents
				</otherwise>
			</choose>
		like '%' || #{search} || '%'
	</select>

	<select id="list" parameterType="Pager" resultType="NoticeDTO">
		select * from 
			(select ROWNUM R, N.* from 
				(select * from notice 
					where NUM > 0 
					and  
					
					<choose>
						<when test="kind=='col1'">
							title
						</when>
						<otherwise>
							contents
						</otherwise>
					</choose>
					
					like '%' || #{search} || '%'
					order by NUM DESC
				) N 
			)
		where R between #{startRow} and #{lastRow}
	</select>

	<insert id="add" parameterType="NoticeDTO">
		INSERT INTO NOTICE (NUM, TITLE, CONTENTS, WRITER, REGDATE, HIT)
		VALUES (NOTICE_SEQ.NEXTVAL, #{title}, #{contents}, #{writer}, SYSDATE,
		#{hit})
	</insert>

	<select id="detail" resultType="NoticeDTO"
		parameterType="NoticeDTO">
		select * from notice where num=#{num}
	</select>

	<delete id="delete" parameterType="NoticeDTO">
		delete from notice where num = #{num}
	</delete>
</mapper>