<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.jh.s1.board.qna.QnaDAO">
	
	<insert id="add" parameterType="QnaDTO">
		INSERT INTO qna (NUM, TITLE, CONTENTS, WRITER, REGDATE, HIT, ref, step, depth)
		VALUES (qna_SEQ.NEXTVAL, #{title}, #{contents}, #{writer}, SYSDATE, 0, qna_seq.currval, 0, 0)
	</insert>

	<select id="detail" resultType="QnaDTO"
		parameterType="QnaDTO">
		select * from qna where num=#{num}
	</select>

	<delete id="delete" parameterType="QnaDTO">
		delete from qna where num = #{num}
	</delete>
	
	<update id="update" parameterType="QnaDTO">
		update qna set title=#{title}, contents=#{contents}
		where num=#{num}
	</update>

	<select id="total" resultType="Long" parameterType="Pager">
		select count(num) from qna
		where 
			NUM > 0 
			and  
			
			<choose>
				<when test="kind=='col1'">
					title
				</when>
				<when test="kind=='col2'">
					contents
				</when>
				<otherwise>
					writer
				</otherwise>
			</choose>
		like '%' || #{search} || '%'
	</select>

	<select id="list" parameterType="Pager" resultType="QnaDTO">
		select * from 
			(select ROWNUM R, Q.* from 
				(select * from qna 
					where NUM > 0 
					and  
					
					<choose>
						<when test="kind=='col1'">
							title
						</when>
						<when test="kind=='col2'">
							contents
						</when>
						<otherwise>
							writer
						</otherwise>
					</choose>
					like '%' || #{search} || '%'
					order by NUM DESC
				) Q 
			)
		where R between #{startRow} and #{lastRow}
	</select>

</mapper>